html {
	font-family: 'Spectral SC', serif;
	background-color: black;
	color: white;
}

h1 {
	font-size: 40px;
	font-weight: bold;
}

footer {	
	font-size: 10px;
    width: 100%;
    position: fixed;
    bottom: 2px;
}

a {color: white;

}

#container {
	text-align: center;
}

#score {
	line-height: 90px;
	font-size: 20px;
	margin: 80px 0;
}

#instructions {
	line-height: 20px;
	font-size: 13px;
	margin: 50px 20%;
	text-align: center;
}